[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/OmniCppComplete.vim"]
	path = vim/bundle/OmniCppComplete.vim
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/mustache/vim-mode.git
